<h1>GET YOUR DRINKS</h1>

<% @drinks.each do |drink| %>
    <h3>
        <%= drink.name %>
    </h3>
    <%= image_tag(drink.image_url) %> <br/>
    <em><%= drink.user.name %></em>
    <%= link_to "view more", drink_path(drink) %>
<% end %>